NFCSampleiOS/NFCSampleiOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NFCSampleiOS/NFCSampleiOS.xcodeproj/xcuserdata/nirmalpatidar.xcuserdatad/xcschemes/xcschememanagement.plist
NFCSampleiOS/NFCSampleiOS.xcodeproj/project.xcworkspace/xcuserdata/nirmalpatidar.xcuserdatad/UserInterfaceState.xcuserstate
